<div class="container">
  <div class="row mt20">
    <section id="section1" class="section">
      <div class="image-container">
        <img
          src="../../../assets/FondoPrincipal.png"
          alt="Imagen de Bienvenidos"
        />
        <div class="text-container">
          <h1>Emergencias las 24 horas</h1>
          <p>
            Ofrecemos servicios de peluquería para mascotas, consultas de
            especialidad, internamientos y tienda para mascotas.
          </p>
        </div>
      </div>
    </section>
    <section id="section2" class="section">
      <div class="half-section">
        <h2>Quiénes Somos</h2>
        <p>
          En la Clínica Veterinaria Rondón nos apasiona el bienestar de las
          mascotas. Por eso, desde hace más de 50 años, brindamos servicios de
          calidad y profesionalismo para cuidar de su salud y belleza. Contamos
          con un equipo de veterinarios especializados en diferentes áreas, como
          dermatología, oftalmología, cardiología y más.
        </p>
        <p>
          Además, ofrecemos servicios de peluquería para mascotas, con cortes y
          baños personalizados según sus necesidades. Y si buscas los mejores
          productos para tu mascota, visita nuestro pet shop, donde encontrarás
          alimentos, accesorios, juguetes y mucho más. Y para tu tranquilidad,
          tenemos un servicio de emergencias las 24 horas, con atención rápida y
          eficiente.
        </p>
        <p>
          Ven a la Clínica Veterinaria Rondón y comprueba por qué somos la
          número 1 de todo el Perú.
        </p>
      </div>
      <div class="half-section">
        <img
          src="../../../assets/fondo1.jpg"
          alt="Imagen"
        />
      </div>
    </section>
    <section id="section3" class="section">
      <h2 class="section-title">Nuestra Familia</h2>
      <div class="box-container">
        <div class="box">
          <img
            src="../../../assets/1.png"
            alt="Imagen de Eduardo"
          />
          <div class="description">
            <h3>Eduardo<br />Rondón Navas</h3>
            <p class="position">DIRECTOR & FUNDADOR</p>
            <div class="position-divider"></div>
            <p>
              Nuestro director y fundador, médico veterinario con más de 40 años
              de dedicación y amor por los animales. Fue Presidente de la
              Academia de Ciencias Veterinarias y Decano Nacional del Colegio
              Médico Veterinario del Perú.
            </p>
          </div>
        </div>
        <div class="box">
          <img
            src="../../../assets/2.png"
            alt="Imagen de otro miembro"
          />
          <div class="description">
            <h3>Eduardo<br />Rondón Navas</h3>
            <p class="position">DIRECTOR & FUNDADOR</p>
            <div class="position-divider"></div>
            <p>
              Nuestro director y fundador, médico veterinario con más de 40 años
              de dedicación y amor por los animales. Fue Presidente de la
              Academia de Ciencias Veterinarias y Decano Nacional del Colegio
              Médico Veterinario del Perú.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="section4" class="section">
      <div class="section-content">
        <div class="box-title">
          <h2 class="section-title">CONSULTA DE ESPECIALIDAD</h2>
          <h3>Los mejores especialistas están al servicio de tu mascota</h3>
        </div>
        <div class="box-column">
          <div class="column">
            <div class="specialty">
              <div class="violet"></div>
              <h4>➣ ‎ ‎ ‎ ‎ ‎ Neurología</h4>
              <p>Dr. Luis Ramos</p>
            </div>
          </div>
          <div class="column">
            <div class="specialty">
              <div class="violet"></div>
              <h4>➣ ‎ ‎ ‎ ‎ ‎ Odontología</h4>
              <p>Dr. Jorge Hun</p>
            </div>
            <div class="specialty">
              <div class="violet"></div>
              <h4>➣ ‎ ‎ ‎ ‎ ‎ Oftalmología</h4>
              <p>Dra. Roxana Padilla</p>
            </div>
            <div class="specialty">
              <div class="violet"></div>
              <h4>➣ ‎ ‎ ‎ ‎ ‎ Felinos</h4>
              <p>Dra. Lizette Ampuero</p>
            </div>
          </div>
        </div>
        <div class="box-column">
          <div class="column">
            <div class="specialty">
              <div class="violet"></div>
              <h4>➣‎ ‎ ‎ ‎ ‎ Oftalmología</h4>
              <p>Dra. Roxana Padilla</p>
            </div>
            <div class="specialty">
              <div class="violet"></div>
              <h4>➣ ‎ ‎ ‎ ‎ ‎ Felinos</h4>
              <p>Dra. Lizette Ampuero</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="section5" class="section">
      <h4 class="section-title">Nuestros Servicios</h4>
      <div class="box-row">
        <div class="box-column">
          <div class="columnS5">
            <li class="Service">
              <div class="img">
                <img
                  src="../../../assets/general.png"
                  alt=""
                />
              </div>
              <div class="Service-text">
                <h5 class="text-title">Consultas de especialidad</h5>
                <p class="text-body">
                  "Consulta médica veterinaria con los mejores especialistas de
                  todo el Perú siempre dispuestos a dar todo por la salud de tu
                  mascota."
                </p>
              </div>
            </li>
            <li class="Service">
              <div class="img">
                <img
                  src="../../../assets/corte.png"
                  alt=""
                />
              </div>
              <div class="Service-text">
                <h5 class="text-title">Peluquería para mascotas</h5>
                <p class="text-body">
                  "Cuidamos el aspecto y la salud de tu engreído haciendo uso de
                  productos de la más alta calidad."
                </p>
              </div>
            </li>
            
          </div>
        </div>
        <div class="box-column">
          <div class="columnS5">
            <!--
            <li class="Service">
              <div class="img">
                <img
                  src="https://cdn.pixabay.com/photo/2017/11/10/05/48/user-2935527_640.png"
                  alt=""
                />
              </div>
              <div class="Service-text">
                <h5 class="text-title">Pet Shop</h5>
                <p class="text-body">
                  "Tenemos la mejor y más variada tienda de artículos para
                  mascotas de toda Lima."
                </p>
              </div>
            </li>
            <li class="Service">
              <div class="img">
                <img
                  src="../../../assets/vac.png"
                  alt=""
                />
              </div>
              <div class="Service-text">
                <h5 class="text-title">Cirugías</h5>
                <p class="text-body">
                  "Cirugía veterinaria en las más modernas instalaciones y con
                  los cirujanos más experimentados."
                </p>
              </div>
            </li>
            -->
            <li class="Service">
              <div class="img">
                <img
                  src="../../../assets/emergencia.png"
                  alt=""
                />
              </div>
              <div class="Service-text">
                <h5 class="text-title">Internamientos de última generación</h5>
                <p class="text-body">
                  "Área de internados de última generación y el mejor personal
                  dedicado las 24 horas al cuidado tu mascota"
                </p>
              </div>
            </li>
            <li class="Service">
              <div class="img">
                <img
                  src="../../../assets/vac.png"
                  alt=""
                />
              </div>
              <div class="Service-text">
                <h5 class="text-title">Laboratorio</h5>
                <p class="text-body">
                  "Disponemos de los mejores analistas y el más moderno
                  laboratorio de muestras."
                </p>
              </div>
            </li>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
