<mat-card>
    <h1>Actualizar Veterinario</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form *ngIf= "veterinario" (submit)= "actualizarDatosV()">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Nombres</mat-label>
                            <input
                            autofocus
                            type="text"
                            name="nombres"
                            matInput
                            placeholder="Ingresar Nombres"
                            required=""
                            [(ngModel)] = "veterinario.nombres"
                            >
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Apellido Paterno</mat-label>
                            <input
                            autofocus
                            type="text"
                            name="apellidoPaterno"
                            matInput
                            placeholder="Ingresar Apellido Paterno"
                            [(ngModel)] = "veterinario.apellidoPaterno"
                            >
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Apellido Materno</mat-label>
                            <input
                            autofocus
                            type="text"
                            name="apellidoMaterno"
                            matInput
                            placeholder="Ingresar Apellido Materno"
                            [(ngModel)] = "veterinario.apellidoMaterno"
                            >
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="mt20 w100">
                            <mat-label> Especialidades </mat-label>
                            <mat-select name="especialidad" [(ngModel)] = "veterinario.especialidad.id">
                                <mat-option *ngFor = "let e of especialidades" [value] = "e.id">
                                    {{e.descripcion}}                                    
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Estado</mat-label>
                            <mat-select name="estado" [(ngModel)]="veterinario.estado">
                                <mat-option [value]="true">Activo</mat-option>
                                <mat-option [value]="false">Inactivo</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="container text-center">
                            <button mat-raised-button color="primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

