<mat-card>
    <mat-action-list>
      <div mat-subheader>Menu</div>
      <button routerLink = "/admin" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon> Inicio
      </button>
      <button mat-list-item routerLink = "/admin/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
      </button>

      <button mat-list-item routerLink = "/admin/usuarios">
        <mat-icon mat-list-icon>group</mat-icon>Usuarios
      </button>

      <button mat-list-item routerLink = "/admin/mascotas">
        <mat-icon mat-list-icon>pets</mat-icon>Mascotas
      </button>

      <button mat-list-item routerLink = "/admin/veterinarios">
        <mat-icon mat-list-icon>local_hospital</mat-icon>Veterinario
      </button>

      <button mat-list-item routerLink = "/admin/especialidades">
        <mat-icon mat-list-icon>layers</mat-icon>Especialidades
      </button>

      <button mat-list-item routerLink = "/admin/horarios">
        <mat-icon mat-list-icon>today</mat-icon>Horario
      </button>

      <button mat-list-item routerLink = "/admin/reservacitas">
        <mat-icon mat-list-icon>description</mat-icon>Reservas Citas
      </button>
      <!--
      <button mat-list-item routerLink = "">
        <mat-icon mat-list-icon>bar_chart</mat-icon>Reportes
      </button>
      -->
    </mat-action-list>
  </mat-card>
  