
<mat-card>
    <h1>Agregar Nuevo Usuario</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    
                    <form (ngSubmit)= "guardarUsuario()">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Nombres</mat-label>
                            <input
                            autofocus
                            type="text"
                            name="nombre"
                            matInput
                            placeholder="Ingresar nombres"
                            [(ngModel)] = "usuarios.nombre"
                            >
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Apellido</mat-label>
                            <input
                            autofocus
                            type="text"
                            name="apellido"
                            matInput
                            placeholder="Ingresar apellidos"
                            [(ngModel)] = "usuarios.apellido"
                            >
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Correo Electronico</mat-label>
                            <input
                            autofocus
                            type="text"
                            name="email"
                            matInput
                            placeholder="Ingresar correo electronico"
                            [(ngModel)] = "usuarios.email"
                            >
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Celular</mat-label>
                            <input
                            autofocus
                            type="text"
                            name="telefono"
                            matInput
                            placeholder="Ingresar celular"
                            [(ngModel)] = "usuarios.telefono"
                            >
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Nombre de Usuario</mat-label>
                            <input
                            autofocus
                            type="text"
                            name="username"
                            matInput
                            placeholder="Ingresar nombre de usuario"
                            [(ngModel)] = "usuarios.username"
                            >
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input
                            autofocus
                            type="password"
                            name="password"
                            matInput
                            placeholder="Ingresar contraseña"
                            [(ngModel)] = "usuarios.password"
                            >
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="mt20 w100">
                            <mat-label>Rol</mat-label>
                            <mat-select name="rol" [(ngModel)]="selectedRolId" required>
                              <mat-option *ngFor="let r of roles" [value]="r.id">{{ r.descripcion }}</mat-option>
                            </mat-select>
                          </mat-form-field>

                        <div class="container text-center">
                            <button mat-raised-button color="primary">Guardar</button>
                        </div>
                    </form>
                
                
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
