<mat-card>
    <mat-action-list>
      <div mat-subheader>Menu</div>
      <button routerLink = "/user-dashboard" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon> Inicio
      </button>
      <button mat-list-item routerLink = "/user-dashboard/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
      </button>

      <button mat-list-item [routerLink] = "['/user-dashboard/mascotalogin/', usuarios?.id]">
        <mat-icon mat-list-icon>pets</mat-icon>Mascotas
      </button>
      
      <button mat-list-item [routerLink] = "['/user-dashboard/reservalogin/', usuarios?.id]">
        <mat-icon mat-list-icon>description</mat-icon>Reservas
      </button>

    </mat-action-list>
  </mat-card>
  