
<mat-card>
    <div mat-subheader>
        <h1>Listado de reservas de la mascota: " {{ reservacitas.length > 0 ? reservacitas[0].mascota.nombre : '' }} "</h1>
    </div>
    
    <table class="table table-bordered table-striped table-sm dt-responsive tabla">
        <thead>
            <tr>        
                <th>Codigo</th>
                <th>Veterinario</th>
                <th>Fecha de Reserva</th>
                <th>Hora</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rc of reservacitas">
                <td>{{rc.id}}</td>
                <td>{{rc.veterinario.nombres+" "+rc.veterinario.apellidoPaterno+" "+rc.veterinario.apellidoMaterno}}</td>
                <td>{{rc.fecha | date:'yyyy-MM-dd'}}</td>
                <td>{{rc.hora}}</td>
                <td>{{rc.estado ? "Activo" : "No activo"}}</td>
            </tr>
        </tbody>
    </table>
</mat-card>
